.login-register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    background-image: url('./crimescene.png');
    width: 1000px;
}

.form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.toggle-button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e0e0e0;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: #d0d0d0;
}

.toggle-button.active {
    background-color: #b0b0b0;
    color: white;
}
.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    background: none; /* Remove background */
    border: none; /* Remove border */
    cursor: pointer;
    color: #007bff; /* Change icon color as needed */
    outline: none; /* Remove outline */
}

.toggle-password:hover {
    background: none; /* Ensure no background appears on hover */
    color: #0056b3; /* Change color on hover if needed */
}

.toggle-password svg {
    width: 24px; /* Adjust icon size */
    height: 24px; /* Adjust icon size */
    fill: currentColor; /* Use current color for fill */
}


.form {
    display: flex;
    flex-direction: column;
}

.form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form input:focus {
    border-color: #007bff;
    outline: none;
}

.submit-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}
